
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #1977cc;
  text-decoration: none;
}

a:hover {
  color: #3291e6;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}


.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

#scroll-container {
  overflow: hidden;
}

#scroll-text {
  text-align: right;
 text-overflow: ellipsis;
  white-space: nowrap;
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #1977cc;
  border-top-color: #d1e6f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ac0101;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #298ce5;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.datepicker-dropdown {
  padding: 20px !important;
}

.initial-top-bar{
position: absolute;
display: flex;
align-items: center;
justify-content: center;
top: 0;
left: 0;
right: 0;
height: 3rem;
background-color: #ac0101;
}
.initial-top-bar p{
  color: white;
}
@media (max-width: 600px){
.initial-top-bar p{
  padding-top: 10px;
  margin-right: 20px;
}
.counter span{
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px !important;
}
.counter span::after{
   content: "Entries / Total Applicatons";
  position: absolute;
  font-size: 9px !important;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  width: 100%;
  font-weight: 800;
  text-overflow: ellipsis;
  white-space: nowrap;
  top: -18px !important;
}

}

.swiper .swiper-slide-prev .slider-text{
}
.swiper .swiper-slide-prev .slider-text {

}

.swiper-wrapper .slider-text{
  transition: all 2s ease-in-out;
  opacity: 0;
}
.swiper-wrapper .car-images{
  margin-right: -80%;
  transition: all 2s ease-in-out;
}
.swiper .swiper-slide.swiper-slide-active .car-images{
  margin-right: 0%;
}
.swiper .swiper-slide.swiper-slide-active .slider-text{
  opacity: 1;
}

.swiper .swiper-slide.swiper-slide-next .slider-text{
  
}

@keyframes swipe1-animation{
    0% {
      opacity: 0 !important;
      transform: translateY(-50%) !important
    }
    25%{
      opacity: 1 !important;
      transform: translateY(0) !important;
    }
    75%{
      opacity: 1 !important;
      transform: translateY(20px) !important;
    }
    95%{
      opacity: 1 !important;
      transform: translateY(-100%) !important;
    }
    100%{
      opacity: 0 !important
      
    }
}

.main-form-cont{
   background-color: #ac0101;
   min-width: 450px;
   max-width: 360px;
   height: 94vh;
   z-index: 9999999;
   position: absolute;
   left: 50%;
   top: 0;
   transform: translateX(-50%);
   display: flex;
   flex-direction: column;
   box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius:10px ;
}
.main-form-cont .top-cont{
flex: .04;
justify-content: center;
align-items: center;
position: relative;
}
.main-form-cont .top-cont h2{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px;
  font-weight: 700;
  color: white;
  top: 10px;
}
.main-form-cont .form-cont{
  flex: .91;
  background-color: white;
 clip-path: polygon(50% 9%, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0);
  
}
.main-form-cont .bottom-cont{
  flex: .05;
  position: relative;
}


 .main-form-cont .input-form{
   width: 100%;
   margin-top: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
.main-form-cont .input-form > div{
  width: 90%;
}
.main-form-cont .input-form input{
  width: 100%;
  margin-bottom: 1rem;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border-width: .3px;
}

.main-form-cont .signup-btn{
  width: 60%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #082744;
  color: white;
}
.main-form-cont .btn-cont{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media (max-width: 972px){
.main-form-cont{
  top: 70px;
  height: 89vh;
}
}
@media (max-width: 480px){
.main-form-cont{
  min-width: 100%;
}
}

.counter{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 800;
  position: relative;
}
.counter span{
  text-align: center;
  background-color: #ac0101;
  color: white;
  padding: 4px .7rem;
  border-radius: 10px;
  position: relative;
  margin-top: -10px;
  margin-bottom: 5px;
}
.counter span::after{
  content: "Entries / Total Applicatons";
  position: absolute;
  bottom: -18px;
  font-size: 12px;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  width: 100%;
  font-weight: 800;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.entry {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  transform: translateX(-50%);
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #fff;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  z-index: 996;
}
#topbar.topbar-scrolled {
  top: -40px;
}
#topbar .contact-info a {
  line-height: 1;
  color: #444444;
  transition: 0.3s;
}
#topbar .contact-info a:hover {
  color: #1977cc;
}
#topbar .contact-info i {
  color: #1977cc;
  padding-right: 4px;
  margin-left: 15px;
  line-height: 0;
}
#topbar .contact-info i:first-child {
  margin-left: 0;
}
#topbar .social-links a {
  color: #437099;
  padding-left: 15px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}
#topbar .social-links a:hover {
  color: #1977cc;
}
#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  top: 40px;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}
#header.header-scrolled {
  top: 0;
}
#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}
#header .logo a {
  color: #2c4964;
}
#header .logo img {
  max-height: 40px;
}

/**
* Appointment Button *
*/
.appointment-btn {
  margin-left: 25px;
  background: #ac0101;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}
.appointment-btn:hover {
  background: #ac0101;
  color: #fff;
}
@media (max-width: 768px) {
  .appointment-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 8px 0 8px 20px;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #2c4964;
  white-space: nowrap;
  transition: 0.3s;
  border-bottom: 2px solid #fff;
  padding: 5px 2px;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #1977cc;
  border-color: #1977cc;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 20px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #082744;
  border: none;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #1977cc;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #2c4964;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(28, 47, 65, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile > ul > li {
  padding: 0;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #2c4964;
  border: none;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #1977cc;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #1977cc;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

.main-content-container{
   display: flex;
  justify-content: space-between;
}

.car-images img{
width: 100%;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  width: 8px;
  background-color: #650000;
}

.signup-main-cont{
  background: linear-gradient(rgba(172, 1, 1,0.4), rgba(8, 39, 68,0.4)), url("/assets/img/bg-img2.jpg") !important;    
  background: linear-gradient(rgba(172, 1, 1,0.4), rgb(8, 39, 68,0.4)), url("/assets/img/bg-img2.jpg") !important;    
  background-repeat: no-repeat !important;
  background-size:cover !important;
  background-position: center !important;
  width: 100% !important;
  position: relative !important;
}

.down-bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
height: 10vh;

}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  background-size: cover;
  margin-bottom: -200px;
  background: #041321;
}
#hero .container {
  position: relative;
}
#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #ddd;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}
#hero h2 {
  color: #bbbbbb;
  margin: 10px 0 0 0;
  font-size: 24px;
}
#hero p{
  color: #bfbfbf;
  margin: 10px 0 0 0;
}



#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #ac0101;
}
#hero .btn-get-started:hover {
  background: #3b0101;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 992px) {
  #hero {
    margin-bottom: 0;
    height: 115vh;
  }
  #hero .container {
    margin-top: 150px;
    padding-bottom: 63px;
  }
  #hero .car-images{
    margin-top: 15px;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .main-content-container{
    flex-wrap: wrap;
  }
}
@media (max-height: 600px) {
  #hero {
    height: 115vh;
  }



  #hero .car-images{
    padding-right: 20px;
  }
#hero .car-images img{
  width: 70%;
}
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f1f7fd;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #2c4964;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}
.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f1f7fd;
  min-height: 40px;
  margin-top: 120px;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 100px;
  }
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}
/*=================== 

count down styles 

===================*/
.clock {
  height: 5vh;
  color: white;
  font-size: 3.5vh;
  font-family: sans-serif;
  display: flex;
  position: relative;
  background: #650000;
  overflow: hidden;
}

.clock::before, .clock::after {
  content: '';
  width: 7ch;
  height: 3vh;
  background: linear-gradient(to top, transparent, black);
  position: absolute;
  z-index: 2;
}

.clock::after {
  bottom: 0;
  background: linear-gradient(to bottom, transparent, black);
}

.clock > div {
  display: flex;
}

.tick {
  line-height: 17vh;
}

.tick-hidden {
  opacity: 0;
}

.move {
  animation: move linear 1s infinite;
}

@keyframes move {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(-20vh);
  }
}


/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .content {
  padding: 30px;
  background: #082744;
  border-radius: 4px;
  color: #fff;
}
.why-us .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}
.why-us .content p {
  margin-bottom: 30px;
}
.why-us .content .more-btn {
  display: inline-block;
  background: white;
  padding: 6px 30px 8px 30px;
  color: #000;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}
.why-us .content .more-btn i {
  font-size: 14px;
}
.why-us .content .more-btn:hover {
  color: #650000;
  background: #fff;
}
.why-us .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
  cursor: pointer;
}
.why-us .icon-boxes .icon-box:hover {
  transform: scale(.9);
}
.why-us .icon-boxes .icon-box i {
  font-size: 40px;
  color: #ac0101;
  margin-bottom: 30px;
}
.why-us .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
}
.why-us .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}


/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  background: #082744;
  padding: 70px 0 60px;
  position: relative;
  overflow: auto;
  height: 45vh;
}
.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin-top: 28px;
}
.counts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  background: #ac0101;
  color: #fff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}
.counts .count-box span {
  font-size: 46px;
  display: block;
  font-weight: 600;
  color: #082744;
}
.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

@media (max-width:1303px){
#hero h2  {
}
#hero p{
}
}

@media (max-width: 1096px){
#hero h1  {
  font-size: 30px;
}
.b1{
  display: block;

}
.b2 {
  display: none;
}
}

@media (max-width:805px){
  .trash{
    display: none;
    visibility: hidden;
  }
  .text-break{
    display: none;
  }
  #hero p{
    margin-top: -10px;
  }
  #hero .scrollto{
    display: none;
    visibility: hidden;
  }
.swiper .swiper-slide-prev {
display: none !important;
visibility: hidden;
}
.swiper .swiper-slide-next {
display: none !important;
visibility: hidden;
}
}